/* src/index.css */
@import "tailwindcss";

/* Ẩn scrollbar nhưng vẫn cuộn được */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}


/* Ẩn icon reveal password mặc định của Edge */
@layer utilities {
  .no-password-reveal::-ms-reveal,
  .no-password-reveal::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
}

/* Ẩn icon reveal password mặc định trên Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}